<div class="organizer">
  <div class="layer"></div>
  <div class="container">
    <div class="cover">
      <img src="" alt="" />
    </div>
    <div>
      <h2>Login</h2>
      <p>
        By continuing. you agree to our
        <span class="important">User Agreement</span> and
        <span class="important">Privacy Policy</span>
      </p>
      <form>
        <label for="username">
          <input type="text" id="username" placeholder="User Name" />
        </label>
        <label for="email"><input type="email" placeholder="exemple@text.com" id="email" /></label>
        <label for="password"><input type="password" placeholder="*********" id="password" /></label>
        <label for="co-password"><input type="password" placeholder="*********" id="co-password" /></label>
      </form>
    </div>
  </div>
</div>